apiVersion: v1
kind: Service
metadata:
  name: solar-simulator
  namespace: solar-prod
  labels:
    app: solar-simulator
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "3000"
    prometheus.io/path: "/metrics"
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: solar-simulator
